<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/salesregistration.css">
  </head>
  <body>

    
  
    <link rel="stylesheet" href="salesregistration.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="Jojo">
            <div class="picture">
            <img src="">
          </div>
    <div class="Toto">
        <h3>Your Full Name</h3>
        <p>Role in the System</p>
    </div>
    </div>
    <div>
        <div class="row">
            <div class="col-3">
          <a href="./dashboard.html">Dashboard</a>
        </div>

        <div>
          <a href="./Salesmanagement.html">Salesmanagement</a>
        </div>
        <div>
          <a href="./supplier.html">Supplier management</a>
        </div>
  <div>
          <a href="./stockmanagement.html">Stock management</a>
        </div>
        <div>
          <a href="./Transport Management.html">Transport Management</a>
        </div>
    </div>
    </div>
    </div>
 <div class="content">
      <form action="" method="get">
        <!--section 1-->
        <section>
            <h2>Sales Registration</h2>
            <div class="input-container">
                <div class="input-section">

             <label for="SalesDate">Sales Date</label> 
            <input type="date">
                </div>

            <div class="input-section">
                <label for="salesPerson">Sales Person</label>
                <select name="" id="">
                    <option value="1"> Select a representative</option>
                    <option value="1"> Joan Atimango</option>
                    <option value="1"> Stephen Steozie</option>
                </select>
            </div>
        </section>
        <h2>Customer Details</h2>
        <section>
            <div class="input-container">
            <div class="input-section">
                <label for="fullname">Name</label>
                <input type="text" placeholder="Enter Full name">
            </div>
            <div class="input-section">
                <label for="Phonenumber">Phonenumber</label>
                <input type="text" placeholder="Enter Phone Number">
            </div>
</section>
            <div class="input-container">
            <div class="input-section">
                <label for="Email">Email</label>
                <input type="text" placeholder="Enter Email">
                </div>
                <div class="input-section">
                    <label for="Customer Type" >Customer Type</label>
                    <select name="" id="">
                    <option value="1"> Select Customer Type</option>
                    <option value="1"> New Customer</option>
                    <option value="1"> Return Customer</option>
                    <option value="1"> Retail Customer</option>
                    <option value="1"> Loyal Customer</option>
                    </select>
                </div>
            </div>
                </select>     
        </section>
            <h2>Items</h2>
            <section>
            <div class="input-container">
                <div class="input-section">
                    <label for="Pdt Id">Pdt Id</label>
                    <input type="textarea" placeholder="Pdt Id">
                </div>
                <div class="input-section">
                    <label for="Quantity">Quantity</label>
                    <input type="number">
                </div>
                <div class="input-section">
                    <label for="Unit Price">Unit Price</label>
                    <input type="Currency">
                </div>
            </section>
            <section>
                <div class="input-container">
                <div class="input-section">
                    <label for="Pdt Id">Pdt Id</label>
                    <input type="textarea" placeholder="Pdt Id">
                </div>
                <div class="input-section">
                    <label for="Quantity">Quantity</label>
                    <input type="number">
                </div>
                <div class="input-section">
                    <label for="Unit Price">Unit Price</label>
                    <input type="Currency">
                    </div>
            </section>
            <div class="final">
            <button type="reset" class="can">Cancel</button>
            <button type="Submit" class="chin">Submit</button>
            </div>
                </div>
                  </div>
        </section>
      </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
